.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
  height: 100vh;
  padding: 10px;

  &__container {
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    max-width: 500px;
    flex-grow: 1;
  }
}